doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    style.
      body {
        margin: 0;
        background-color: #005AA9;
      }

      .frame {
        width: 660px;
        background-color: #fff;
        margin: auto;
        margin-top: 20px;
        border-radius: 20px;
        padding: 10px;
      }

      .text-wrapper {
        padding-top: 5px;
        border-top: #000000 solid 2px;
        top: 0;
        left: 183px;
        font-family: "DM Sans-Bold", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 26px;
        letter-spacing: 0;
        line-height: normal;
        text-align: center;
      }

      .tu-autenticaci-n-se {
        width: 708px;
        top: 121px;
        left: 27px;
        font-family: "DM Sans-Regular", Helvetica;
        font-weight: 400;
        color: transparent;
        font-size: 16px;
        letter-spacing: 0;
        line-height: normal;
      }

      .span {
        color: #202020;
      }

      .text-wrapper-2 {
        color: #000000;
      }

      .div {
        top: 73px;
        left: 27px;
        font-family: "DM Sans-SemiBold", Helvetica;
        font-weight: 600;
        color: #000000;
        font-size: 18px;
        letter-spacing: 0;
        line-height: normal;
      }
  body
      .text-wrapper
        | Tu autenticación se ha completado exitosamente, y ahora tienes acceso a todas las herramientas y recursos de nuestro software de apoyo psicológico. Desde aquí podrás gestionar tus citas, acceder a recursos de bienestar, y mantener un seguimiento continuo de tus sesiones.
        
        br
        
        | ¿Qué puedes hacer ahora?
        ul
            li | Programar y gestionar citas con psicólogos del área estudiantil.
            li | Acceder a recursos de bienestar y material de apoyo emocional.
            li | Recibir notificaciones de tus próximas sesiones y recomendaciones personalizadas.

        br

        | Bienvenido a una experiencia de apoyo personalizada y dedicada a tu bienestar académico y emocional.

        br

        | ¡Nos alegra tenerte en iHealth!

        br

        | Atentamente, 
        br
        | Equipo de iHealth