<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    
.correo{
    width: 660px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
}

.text-wrapper {
    border-top: #000000 solid 1px;
    padding-top: 25px;
    left: 183px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
}

.tu-autenticaci-n-se {
    width: 708px;
    top: 121px;
    left: 27px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.span {
    color: #202020;
}

.text-wrapper-2 {
    color: #000000;
}

.div {
    top: 73px;
    left: 27px;
    font-family: "DM Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

  </style>
</head>
<body>
    <div class="correo">
      <div class="overlap-group">
        <div style="display: flex; justify-content: center; align-items: center; height: 50%;">
          <?xml version="1.0" encoding="UTF-8"?>
          <svg version="1.1" viewBox="0 0 2048 444" width="200" height="100" xmlns="http://www.w3.org/2000/svg">
          <path transform="translate(162,9)" d="m0 0h19l22 3 21 6 16 7 16 9 13 10 10 9 8 8 2 1v2l5-3 6-7 11-9 8-7 11-7 12-7 21-8 21-5 17-2h14l20 2 21 5 20 8 16 9 15 11 13 12 9 10 11 16 10 19 7 21 2 10v60l-2 10-7 20-8 16-10 15-11 13-129 129-14 11-15 9-15 7-18 6-20 4-11 1h-18l-17-2-21-5-20-8-16-9-12-9-15-13-16-17-15-15-3-2v-2l-3-1v-2h-2v-2l-4-2-2-4-4-2-1-3-3-1v-2l-3-1v-2h-2v-2l-3-1v-2l-3-1v-2l-3-1v-2h-2v-2l-4-2-2-4-4-2-1-3-4-2-2-4h-2v-2l-4-2-26-26-7-8-13-17-12-23-7-21-3-15-1-8v-32l5-25 5-15 9-19 8-12 11-14 15-15 15-11 14-8 15-7 19-6 17-3z" fill="#43CAF8"/>
          <path transform="translate(784,61)" d="m0 0h68l2 1 1 110v8l114 1v-72l1-48h68l3 1v301l-2 1h-69l-1-12v-105l1-2h-116l1 4v113l-1 2h-70l-1-4v-298z" fill="#000001"/>
          <path transform="translate(162,9)" d="m0 0h19l22 3 21 6 16 7 16 9 13 10 10 9 11 11-2 4-9 8-1 2h-2l-1 3h-2l-2 4-3 1-1 3-7 6-5 5-4 5h-2l-2 4-7 7h-2l-1 3h-2l-1 3-8 7-17 17-7 8-14 14h-2l-2 4-11 12-12 17-9 17-7 19-4 17-1 12v24l1 14 4 18 5 15 9 19 8 11 8 9v3h2l2 5-4-2-9-10-17-17-3-2v-2l-3-1v-2h-2v-2l-4-2-2-4-4-2-1-3-3-1v-2l-3-1v-2h-2v-2l-3-1v-2l-3-1v-2l-3-1v-2h-2v-2l-4-2-2-4-4-2-1-3-4-2-2-4h-2v-2l-4-2-26-26-7-8-13-17-12-23-7-21-3-15-1-8v-32l5-25 5-15 9-19 8-12 11-14 15-15 15-11 14-8 15-7 19-6 17-3z" fill="#5690DE"/>
          <path transform="translate(401,9)" d="m0 0h14l20 2 21 5 20 8 16 9 15 11 13 12 9 10 11 16 10 19 7 21 2 10v60l-2 10-7 20-8 16-10 15-11 13-102 102v-3l5-6 3-9 8-22 5-18 2-18v-16l-2-21-4-18-7-19-9-17-10-14-12-14-68-68-5-4v-2l-3-1v-2h-2v-2h-2l-7-8-21-21 5-5 5-6 11-9 8-7 11-7 12-7 21-8 21-5z" fill="#76EAFD"/>
          <path transform="translate(1827,61)" d="m0 0h65l1 1 1 10v80l-1 10 5-5 7-8 11-8 11-4 10-2 10-1h10l18 2 15 4 11 6 11 9 9 12 6 14 4 18 1 15v149l-1 1h-65l-1-131-2-21-4-11-7-8-7-3-5-1h-19l-10 3-6 4-6 9-3 9-1 6-1 27v116l-1 1h-66z"/>
          <path transform="translate(1178,134)" d="m0 0h14l17 2 18 4 17 7 10 6 13 9 7 7 9 12 10 19 6 21 2 13 1 16v15l-7 1-155-1 5 17 8 14 7 6 10 5 11 3h17l9-2 10-5 9-9 5-8h67l-3 9-5 13-11 18-8 10-7 7-16 11-17 8-14 4-14 2-16 1-24-2-16-4-13-5-14-7-14-11-9-9-9-12-6-10-6-15-4-15-2-15v-18l2-18 5-20 9-20 11-16 14-14 16-10 16-8 16-4zm3 51-14 3-12 7-8 8-5 12v3h92l-3-10-6-9-9-7-11-5-9-2z"/>
          <path transform="translate(1423,134)" d="m0 0h11l18 2 16 4 15 6 13 9 13 13 9 17 4 14 2 14 1 13v138h-66v-26h-2l-2 6-8 10-9 6-10 4-12 3-8 1h-25l-13-2-12-4-11-6-9-7-7-8-6-10-4-12-2-12 1-17 2-10 5-13 9-11 7-7 13-8 19-7 27-6 55-10h2l-4-16-6-10-8-5-10-2-11 1-12 5-8 9-5 13-1 1h-66l1-10 5-15 7-13 7-9 12-12 14-9 19-7 11-3zm32 132-42 8-10 3-11 7-5 7-1 9 3 9 6 5 7 3 5 1h10l11-2 11-4 10-7 7-10 3-13 1-16z"/>
          <path transform="translate(1694,61)" d="m0 0h66l1 1v77h38l1 1v50l-1 1h-38l1 109 2 7 7 2 28 1v54h-57l-15-2-13-5-10-8-6-9-3-9-1-6v-134h-31v-52h31z"/>
          <path transform="translate(1558,61)" d="m0 0h64l2 1 1 239 3 5 9 3 17 1v53l-1 1h-48l-16-2-10-4-8-6-7-7-4-8-2-7-1-11v-257z"/>
          <path transform="translate(672,61)" d="m0 0h71l1 1v301l-2 1h-69l-1-1z"/>
          </svg>          
        </div>
        
        <div class="text-wrapper">Bienvenido a iHealth <br><br></div>
        <p class="div">¡Gracias por verificar tu cuenta en iHealth!</p>
      </div>
      <p class="tu-autenticaci-n-se">
        <span class="span"
          >Tu autenticación se ha completado exitosamente, y ahora tienes<br />
          acceso a todas las herramientas y recursos de nuestro software de <br />apoyo psicológico. Desde aquí podrás
          gestionar tus citas, acceder a <br />recursos de bienestar, y mantener un seguimiento continuo de tus
          sesiones.<br /><br
        /></span>
        <span class="text-wrapper-2">¿Qué puedes hacer ahora?<br /></span>
        <span class="span">
          Programar y gestionar citas con psicólogos del área estudiantil.<br />Acceder a recursos de bienestar y
          material de apoyo emocional.<br />Recibir notificaciones de tus próximas sesiones y recomendaciones
          personalizadas.<br /><br />Bienvenido a una experiencia de apoyo personalizada y dedicada a tu bienestar
          académico y emocional.<br /><br />¡Nos alegra tenerte en iHealth!<br /><br />Atentamente, Equipo de
          iHealth</span>
      </p>
    </div>
  </div>
</body>
</html>
